<h2>Welcome to the funko store!</h2>
<hr>

<p>This store is intended as a place where customers are able to purchase any of the funko pops that we have in stock. All you need to do is click on the 'Funko's' tab above, and check them out, to see if there are any of your liking!</p>
<p>Are you already building up a collection? Then feel free to join us! Members are able to add in their collections, and show them off to other users. Who knows, you might even find someone who is willing to trade with you!</p>
