<div class="row">
  <div class="col-xs-12">
    <img [src]="collection.image" alt="{{collection.name}}" class="img-responsive" style="max-height: 250px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{collection.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropDown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Collection <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <!--<li><a (click)="onToShopping()" style="cursor: pointer">To Shopping List</a></li>-->
        <li><a (click)="onEditCollection()" style="cursor: pointer">Edit Collection</a></li>
        <li><a (click)="onDeleteCollection()" style="cursor: pointer">Delete Collection</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{collection.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let funko of collection.funkos"> {{funko.name}} - {{funko.price}}</li>
    </ul>
  </div>
</div>
