<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="collectionForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!collectionForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Username</label>
            <input type="text" id="name" formControlName="name" class="form-control" placeholder="Username">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="image">Image</label>
            <input type="text" id="image" formControlName="image" class="form-control" placeholder="Link to image of your choice" #image>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="image.value" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" id="description" formControlName="description" class="form-control" placeholder="Feel free to add your own description!" rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="funkos">
          <div class="row" *ngFor="let funko of getControls(); let i = index" [formGroupName]="i" style="margin-top: 10px">
            <div class="col-xs-8">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-xs-2">
              <input type="text" class="form-control" formControlName="price">
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger" (click)="onDeleteFunko(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-success" (click)="onAddFunko()">Add</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>
